*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #efeef1;

}

#container{
  border: 1px solid grey;
  max-width: 1000px;
  margin: 10rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-inline: 5rem;
  height: 65vh;
  border-radius: 12px;
  background: linear-gradient(90deg, #247dfe, #fff 50%);
  
}

.LoginBox>h1{
  width: 190px;
  color: white;
}

.LoginBox>h1>span{
  border-bottom: 2px solid;
  

}

.LoginBox>p{
  border: 2px solid;
  width: 280px;
  padding-top: 1rem;
  color: white;
  opacity: .6;
  font-size: 20px;
  border: none;
}

.LoginBox>button{
border: 1px solid;
  border-radius: 25px;
  padding: .6rem 2rem ;
  background: transparent;
  margin-block: 2rem;
  font-size: 12px;
  font-weight: 600;
  color: white;

}

.ImaCo{
  /* border: 10px solid red ; */
  height: 75vh;
}

.ImaCo>img{
  width: 100%;
  height: 95%;
}

form>h3{
  /* border: 1px solid; */
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 20px;
}

form>h3>span{
  border-bottom:2px solid blue ;
  margin-top: 1.5rem;

}

.formInput{
  /* border: 2px solid; */
  margin-top: 1.5rem;
  border-bottom: 1px solid rgba(128,128,0.178) ;

}

.formInput>input{
  border: none;
  outline: none;
  width: 80%;
  padding: .3rem;

  

}

.formInput>input::placeholder {
  /* border: 2px solid blue; */
  text-transform: capitalize;
  font-size: 11px;
  opacity: .6;
}

.btn{
 width: 100%;
 /* border: 1px solid; */
 margin: 2rem auto;
}

.btn>button{
  /* margin-block: 6px; */
  width: 100px;
  border-radius: 25px;
  padding:.5rem 1rem;
  text-transform: capitalize;
  background-color: #247dfe;
  border: none;
  opacity: .5;
}

.Reset1>p{
  font-size: 14px;
  /* border: 1px solid brown ;  */
}

.Reset1>p>a{
  text-transform: capitalize;
  font-weight: 500;
}